.lightning_tunnel-table {
  background: transparent !important;
  &-thead {
    & > tr > th {
      border-bottom: solid 1px #4f5b5c !important;
      &::before {
        display: none;
      }
      background-color: #233333 !important;
    }

    th {
      font-size: 12px;
      line-height: 20px;
      font-weight: 400 !important;
      color: #a7adad !important;
    }
  }
  &-tbody {
    & > tr > td {
      .action-icon {
        font-size: 24px;
      }
      background-color: transparent !important;
    }

    & > tr.lightning_tunnel-table-row-level-0:hover > td {
      background-color: unset !important;
    }
  }
}
