.card-hero-icon {
  background: rgba(66, 230, 235, 0.1) !important;
  color: #42e6eb !important;
  font-size: 32px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding: 12px !important;
}

.special-icon {
  height: 56px !important;
  width: 56px !important;
}
