.card-priFi {
  background-color: #212433 !important    ;
}

.upload-file {
  background: rgba(240, 158, 38, 0.05);
}
.card-content {
  background: #1d1f29 !important;
  .sentre-row {
    .last-item-error-data {
      border-color: #4e4f5c;
    }
  }
}
.card-total {
  background: #2c2e3d !important;
}
