.radius-8 {
  border-radius: 8px !important;
}
.file-uploaded:extend(.radius-8) {
  background: rgba(240, 158, 38, 0.05) !important;
  border: 1px solid #f09e26 !important;
  color: #f09e26 !important;
  box-shadow: unset !important;
}
.card-content:extend(.radius-8) {
  box-shadow: unset !important;
  max-height: 300px;
  overflow: auto;
  .sentre-row {
    .last-item-error-data {
      border-bottom: 1px solid;
      padding-bottom: 8px;
      margin-bottom: 8px;
    }
  }
}
.select-token {
  width: 100% !important;
  background-color: #ffffff !important;
  border-radius: 8px;
  .sentre-select-selector {
    height: 56px !important;
    border: unset !important;
    background-color: unset !important;
  }
  .sentre-select-selection-item {
    padding: 0 !important;
    top: 25%;
  }
}

.select-card {
  .sentre-radio-button-wrapper {
    height: 112px !important;
    padding: 16px !important;
    &-checked {
      background: rgba(249, 87, 94, 0.05) !important;
    }
  }
}
.modal-merge-amount {
  .sentre-modal-content {
    border-radius: 16px !important;
  }
}

.auto-add-new {
  .sentre-collapse-item {
    border: unset !important;
  }
  .sentre-collapse-header {
    display: none !important;
  }
  .sentre-collapse-content-box {
    padding: 24px !important;
  }
}

#lighting_tunnel {
  .sentre-popover {
    width: 320px !important;
  }
}
#dark {
  .select-token {
    background-color: #2c2e3d !important;
  }
}
