.radius-8 {
  border-radius: 8px !important;
}
.file-uploaded:extend(.radius-8) {
  background: rgba(240, 158, 38, 0.05) !important;
  border: 1px solid #f09e26 !important;
  color: #f09e26 !important;
  box-shadow: unset !important;
}
.card-content:extend(.radius-8) {
  box-shadow: unset !important;
}
