.date-option {
  width: 100% !important;
  padding: 9px 12px !important;
  background-color: #233333 !important;
  border: none !important;
}
.lightning_tunnel-picker-panel-container {
  background: #233333 !important;
  .lightning_tunnel-picker-cell-inner:hover {
    background: #42e6eb !important;
  }
  .lightning_tunnel-picker-time-panel-cell-inner {
    &:hover {
      background: #42e6eb !important;
    }
  }
  .lightning_tunnel-picker-time-panel-column
    > li.lightning_tunnel-picker-time-panel-cell-selected
    .lightning_tunnel-picker-time-panel-cell-inner {
    background: #42e6eb !important;
  }
  .lightning_tunnel-picker.lightning_tunnel-picker-disabled {
    opacity: 0.6;
  }
}
